*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-image: linear-gradient(rgba(4, 9, 30, 0.597),rgba(18, 18, 22, 0.578)),url(banner.png);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 195px;
    padding: 34px 34px;
}
nav ul{
    display: flex;
    list-style: none;
}
ul a{
    margin: 24px 24px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2.5px;
    background: red;
    display: block;
    margin: auto;
    transition:0.4s;
}
.nav-link ul li:hover::after{
    width: 80%;
}
.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.textbox h1{
    text-align: center;
    margin: 3px 34px;
    color: aliceblue;
    font-size: 4rem;
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 2px;
}
.textbox p{
    text-align: center;
    color: aliceblue;
    margin: 25px 1px;
    padding: 25px 23px;
}
.hero{
    text-align: center;
}
.hero-btn{
    
    border: white;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    position: relative;
    padding: 12px 34px;
    cursor: pointer;
    transition: 0.5s;
    
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    padding: 12px 34px;
}
nav .fa{
    display: none;
}

@media(max-width: 800px){
    h1{
    font-size: 1.5rem;
    }
    .textbox p{
    margin: 12px 1px;
    padding: 20px 53px;
    }
    .nav-link ul{
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -400px;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }
    ul li{
        margin: 10px 5px;
        padding: 10px 5px;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    
}
/* -------COURSE------ */
.course{
    margin:auto;
    padding: 23px 23px;
    width: 80%;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin: 23px 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.course p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.course .row{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    text-align: center;
}
.course-col{
    text-align: center;
    border: 2px solid #e0dfdf;
    border-radius: 10px;
    margin: 23px 23px;
    padding: 23px 23px;
    background-color: #fff3f3;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
}
p .para-two{
    color: black;
}
.course-col:hover{
    box-shadow: 0 0 20px grey;
}

@media(max-width: 800px){
    .course .row{
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 1.7rem;
    }
}
 
/* -------CAMPUS------ */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 23px 23px;
}
.campus p{
    margin: 23px 23px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.campus-col img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.campus-col{
    overflow: hidden;
    position: relative;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(105, 104, 104);
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}
.layer:hover{
    background: #f44336dd;
    
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #e0dfdf;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    font-weight: bold;
}
@media(max-width: 800px){
    .campus .row{
        display: flex;
        flex-direction: column;
    }
}

/* facilities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 23px 23px;
}
.facilities p{
    margin-bottom: 23px;
}
.facilities img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(105, 104, 104);
}
.facilities-col{
    position: relative;
    margin: 20px 20px;
    border-radius: 10px;
}
.facilities-col h3{
    text-align: left;
}
.facilities-col p{
    text-align: left;
}
@media(max-width: 800px){
    .facilities .row{
        display: flex;
        flex-direction: column;
    }
}

/* Testimonials */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 23px 23px;
}
.testimonials p{
    margin-bottom: 23px;
}
.testimonials-col{
    display: flex;
    text-align: left;
    border: 1px solid rgba(126, 126, 126, 0.642);
    border-radius: 10px;
    background: #fff3f3;
    padding: 25px;
    margin: 23px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(105, 104, 104);
    font-weight: lighter;
    font-size: 0.9rem;
}
.testimonials-col img{
    border-radius: 50%;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px rgb(27, 26, 26);
}
.testimonials-col h3{
    margin-top: 15px;
    margin-left: 0; ;
    text-align: left;
}
@media(max-width: 800px){
    .testimonials .row{
        display: flex;
        flex-direction: column;
    }
}
/* CALL TO ACTION */
.cta{
    width: 80%;
    margin:100px auto;
    text-align: center;
    padding: 23px 23px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.597),rgba(18, 18, 22, 0.578)),url(banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 100px 0px;
}
.cta h2{
    color: #e0dfdf;
    margin: 40px;
}

/*footer*/
.footer{
    width: 100%;
    text-align: center;
    pad: 30px 0px;

}
.footer>h4{
    margin:25px;
    font-weight: 600;
    margin-top: 20px;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 10px 0;
}
.fa-regular{
    color: #f44336;
}
.ending{
    margin: 30px 4px;
}



/*..about us page..*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff3f3;
}
.sub-header>h1{
    margin-top: 15px;
    font-weight: 600;
    font-size: 5.5vh;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom:50px  ;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
    font-weight: 800;
    font-size: 5.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-col p{
    padding: 15px 0px 25px;
}
.red-btn{
    border: 2px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #e0dfdf;
}
@media(max-width: 800px){
    .about-us .row{
        display: flex;
        flex-direction: column;
    }
}
/*....blog content....*/
.blog-content{
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}
.blog-left{
    flex-basis: 65%;
    padding: 0px 20px;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff3f3;
    padding: 7px 0px;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0px ;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
width: 100%;
padding: 10px;
margin: 15px 0px;
box-sizing: border-box;
border: none;
outline: none;
background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0px;
}

/*....media query for blog page....*/
@media(max-width: 800px){
    .blog-content .row{
        display: flex;
        flex-direction: column;
    }
    .sub-header h1{
        font-size: 24px;
    }
}

/*....contact us page....*/
.loaction{
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}
.loaction iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    margin-bottom: 30px;
} 
.contact-us div{
    display: flex;
    margin-bottom: 40px;
}
.contact-col div .fa-solid{
    font-size: 17px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #636363;
}
.contact-col div h5{
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: sans-serif;
}
.contact-col input, .contact-col textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    outline: none;
    border: 2px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
}

@media(max-width: 800px){
    .contact-us>.row{
        display: flex;
        flex-direction: column;
    }
}

